movelink {
  cursor: pointer;
}

/*a:link {
  color: #ffffff;
  border-bottom: 1px dashed;
}*/
a:hover {
  color: #154088;
  border-bottom: 0.07em solid;
}
a:active {
  color: #497ddd;
  border-bottom: 1px dashed;
}

html {
  scroll-behavior: smooth; /*чтобы прокрутка страницы по якорям проходила плавно*/
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h2 {
  height: 90px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;

  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

.header {
  background: black;

  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-container {
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.dark-section {
  background: black;
}

.light-section {
  background: #ffffff;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

li {
  list-style: none;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
}

.nav {
  margin-right: 55px;
}

.nav:last-child {
  margin-right: 0;
}

.header-link {
  height: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;

  letter-spacing: 2px;

  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.header-link:hover .header-link:focus .header-link:active {
  opacity: 0.75;
}

.welcome-section {
  height: 810px;
  padding-top: 0px;
}

.welcome-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;

  letter-spacing: 5px;
  text-transform: uppercase;

  color: #ffffff;
  padding-top: 150px;
  margin-left: -465px;
}

.background {
  background: url(../assets/img/1.jpg) no-repeat center;
  width: 1000px;
  height: 750px;
  margin-left: 465px;
}

.start-page {
  color: #ffffff;
  margin-left: -465px;
}

.intro {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 2px;

  color: #ffffff;
  margin-left: -465px;
  margin-top: 26px;
}

.button-intro {
  display: flex;
  justify-content: center;
  width: 360px;
  height: 75px;
  background: #710707;
  border-radius: 10px;
  margin-left: -465px;
  margin-top: 75px;
}

.text-button {
  position: absolute;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  margin-top: 23.5px;
  letter-spacing: 2px;

  color: #ffffff;
}

.line {
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.text-art-gallery {
  font-family: Forum;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #ffffff;
}

.text-buy-tickets {
  font-family: Forum;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #9d8665;
}

.text-contacts {
  font-family: Forum;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #9d8665;
}
