.explore-section {
  height: 865px;
  padding-top: 90px;
  border: 1px solid red;
}

.explore-container {
  display: grid;
  grid-template-columns: 720px 720px;
}

.text_picture_explore {
  width: 660px;

  color: #ffffff;
}

.line-explore {
  width: 660px;
  margin-top: 25px;
  height: 3px;
  background: #710707;
  border-radius: 0px;
}

.text-explore {
  padding-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  /* or 175% */

  color: #ffffff;
}

.text-explore1 {
  padding-top: 75px;
}

.picture {
  /* width: 720px;
  height: 700px;*/
}
