.gallery-section {
  height: 2200px;
}

.section-name-gallery {
  color: #ffffff;
}

.picture-container {
  width: 1440px;
  height: 2125px;
  overflow-y: hidden;
}

.picture-inner-container {
  display: flex;
  flex-wrap: wrap;
  height: 2996px;
  margin-top: 75px;
  display: grid;
  grid-column-gap: 36px;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.gallery-item {
  margin-bottom: 24px;
}
