.visiting-section {
  /* height: 1116px;*/
  border: 1px solid red;
}

.text-Virtyal-tour {
  width: 544px;
  color: #9d8665;
}

.line-visiting {
  width: 1440px;
}

.card {
  width: 440px;
  height: 285px;
  top: 0;
  border-radius: 0px;
}

h3 {
  width: 252px;
  height: 35px;

  top: 310px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #000000;
  margin-top: 25px;
}

.text-virtual-tour {
  width: 165px;
  height: 26px;
  left: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  padding-top: 10px;

  color: #000000;
}

.text-google-street-panorama-view {
  width: 240px;
  height: 21px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  padding-top: 10px;
  margin-top: 10px;

  color: #000000;
}

.card-name-Colonnade-Perrault {
  width: 403px;
}

.cards {
  display: grid;
  /*grid-template-columns: repeat(3, 2fr);*/
  grid-template-columns: 440px 440px 440px;
  grid-template-rows: 424px 424px;
  /*grid-gap: 60px;*/
  margin-top: 75px;
  gap: 75px 60px;
}

.line-after-card {
  margin-top: 10px;
  width: 300px;
  height: 2px;
  background-color: #710707;
}
